.list-page {

}
ion-card.adv-map p {
  font-size: 0.7em !important;
}

button[fab].fab-map {
  top: calc(100% - 35px);
  z-index: 50;
}

.item-bold {
  font-weight: bold;
}

ion-content.cards-bg {
  background-color: #f4f4f7;
}

.card-background-page {

   .card-md {
    margin: 0;
    width: 100%;
    border-radius: 0px;
    font-size: 1.4rem;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

  ion-card {
    position: relative;
    text-align: left;
  }

  .card-title {
    position: absolute;
    top: 25px;
    font-size: 2.0em;
    width: 100%;
    font-weight: normal;
    color: #fff;
    padding: 5px;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 55px;
    width: 100%;
    color: #fff;
    padding: 5px;
  }

}